.button {
  font-family: inherit;
  transition: all 0.2s ease;
  cursor: pointer;
  font-family: inherit;

  &:focus {
    box-shadow: 0px 2px 10px transparent, 0 0 0 2px #e3e3e3, 0 0 0 4px #ff8c02;
  }
}

.focusClassName {
  position: relative;
  box-shadow: 0px 2px 10px transparent, 0 0 0 2px #e3e3e3, 0 0 0 4px #ff8c02;
}
